
body{
    background-image: url(https://img.freepik.com/fotos-premium/fondo-abstracto-pincel-pintura-aceite-colorido-rojo-oscuro_679964-2942.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
}

/*............................. Tablero .............................*/

.casillas{
    display: grid;
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(3, 130px);
    gap: 10px;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid black;
}

.fuera{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0;
    gap: 0;
    max-width: 100%;
}

.cuadros{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: inset;
    border-color: black;
    text-align: center;
    font-size: 125px;
}

/*............................. Turnos y estadistica .............................*/

#turnoActual{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.turno-X{ color: rgb(250, 194, 194);}
.turno-O{ color: rgb(255, 38, 0);}

#estadisticas{
        background-color: #000000;
        padding: 10px;
        border-radius: 10px;
        color: #fdfdfd;
        font-size: 25px;
        width: 180px;
}


/*............................. Botones .............................*/

.btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.btnMenu,
.btnIa,
.reiniciartablero,
.btnjugar,
#borrarHistorial{
        border-radius: 12px;
        text-align: left;
        font-size: 20px;
        transition: background-color 0.3s ease;
}

.btnMenu:hover,
.btnIa:hover,
.reiniciartablero:hover,
.btnjugar:hover{
        background-color: #000000;
        color: white;
}

/*............................. Titulo imagen .............................*/

.ticTacToe {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
}

/*............................. Responsive .............................*/

@media (max-width: 600px) {
.casillas {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
        gap: 8px;
}
} 